@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    height: 100hv;
    overflow: hidden;
    background: #1e293b;
}

::selection
{
    color: #fff;
    background: #1e293b;
}

.wrapper
{
    max-width: 405px;
    background: #fff;
    margin: 137px;
    padding: 28px 0 30px;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.task-input
{
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.task-input img
{
    top: 50%;
    position: absolute;
    transform: translate(1px, -50%);
}

.task-input input
{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
}

.task-input:focus, .task-input.active
{
    padding-left: 52px;
    border: 2px solid #1e293b;
}

.task-input input::placeholder
{
    color: #bfbfbf;
}

.controls, li
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls
{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span
{
    margin: 0 8px;
    font-size: 17px;
    color: #444;
    cursor: pointer;
}

.filters span:first-child
{
    margin-left: 0;
}

.filters span.active
{
    color: #1e293b;
}

.controls .clear-btn
{
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    background: #1e293b;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
}

.clear-btn.active
{
    opacity: 0.9;
    pointer-events: auto;
}

.clear-btn:active
{
    transform: scale(0.93);
}

.task-box
{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}

.task-box.overflow
{
    overflow-y: auto;
    max-height: 300px;
}

.task-box::-webkit-scrollbar
{
    width: 5px;
}

.task-box::-webkit-scrollbar-track
{
    background: #f1f1f1;
    border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb
{
    background: #e6e6e6;
    border-radius: 25px;
}

.task-box .task
{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
}

